/* --- Elementos que ignoram modo escuro --- */
.dark-mode .no-dark,
.dark-mode .no-dark * {
    background-color: initial !important;
    color: initial !important;
    border-color: initial !important;
    box-shadow: initial !important;
}

/* --- Estrutura principal --- */
body.dark-mode {
    background-color: #1d1d1d !important;
    color: #f0f0f0 !important;
}

/* --- Header --- */
.dark-mode header {
    background-color: #0e0e0e !important;
    color: #f0f0f0 !important;
    box-shadow: 0px 8px 32px 0px rgb(0, 0, 0) !important;
    position: relative;
    z-index: 10;
}

/* Botão de alternar modo */
.transition-icon {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.dark-mode .transition-icon {
  transform: rotate(180deg);
}

/* Modo claro: ícone visível */
.perfil-icon {
  color: #212529;         /* cor escura padrão */
  fill: #212529;          /* aplica ao SVG */
  transition: fill 0.3s ease, color 0.3s ease;
}

/* Modo escuro: ícone branco */
.dark-mode .perfil-icon {
  color: #ffffff;
  fill: #ffffff;
}

/* --- Card --- */
.dark-mode .card {
    background-color: #0e0e0e !important;
    color: #f0f0f0 !important;
    border-color: #ffffff3b !important;
    box-shadow: 10px 8px 32px 0px rgb(0, 0, 0) !important;
}

/* --- Elementos de formulário e links --- */
.dark-mode a {
    color: #ffffff !important;
}

/* --- Carrossel --- */
/* Indicadores do carrossel */
.dark-mode .carousel-indicators {
    margin-bottom: 2rem !important;
    display: flex !important;
    align-items: center !important;
}

.dark-mode .carousel-indicators button {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    margin: 0 4px !important;
    background-color: #888 !important;
    border: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
    outline: none !important;
    transition: background-color 0.2s;
    vertical-align: middle !important;
}

.dark-mode .carousel-indicators .active {
    background-color: #fff !important;
    border: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
    outline: none !important;
}

/* Força as setas do carrossel a ficarem cinza, ignorando o modo escuro */
.dark-mode .carousel-control-prev-icon,
.dark-mode .carousel-control-next-icon {
    color: #6c757d !important;
    /* cinza padrão Bootstrap */
    filter: none !important;
}

/* --- Footer --- */
.dark-mode footer {
    background-color: #0e0e0e !important;
    color: #f0f0f0 !important;
    box-shadow: 0px -8px 32px 0px rgb(0, 0, 0) !important;
    position: relative;
    z-index: 10;
}

/* Borda branca na coluna de contatos do footer no modo escuro */
.dark-mode .footer-index .footer-column+.footer-column {
    border-left: 2px solid #fff !important;
    padding-left: 50px;
}